[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "libnx"]
	path = libnx
	url = https://github.com/Arthapz/libnx.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/Arthapz/newlib.git
